body {
  overflow-x: hidden;
  font-family: Verdana, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}


/********************************************boton del header************************************/

.button-header{
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

@-moz-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.round {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 1px 0 rgba(255,255,255,.7);
  letter-spacing: -.065em;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-shadow: 2px 2px 7px rgba(0,0,0,.2);
  border-radius: 300px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}

.round:hover {
  width: 130%;
  height: 130%;
  left: -15%;
  top: -15%;
  font-size: 33px;
  padding-top: 38px;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
  z-index: 2;
  border-size: 10px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

a.green {
  background-color: #ced1b2;
  color: #3d6678;
  border-color: rgba(0,63,71,.2);
}

a.green:hover {
  color: rgba(1,151,171,1);
}

.round span.round {
  display: block;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1px;
  border: none;
  /*padding: 40% 20% 0 20%;*/
  color: #d68a85;
}

.round span:hover {
  opacity: .85;
  font-size: 16px;
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
  background: rgba(0,63,71,.7);
}
/*++++++++++++++++++++++++++++++fin button header++++++++++++++*/


.navbar-brand{
  padding: 0;
}
.navbar-default {
  background-color: rgba(209, 227, 222, 0.4);;
  border-color: transparent;
}


.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, .02)
}

.navbar-default .navbar-toggle {
  background-color: #b0a69d;
  border-color: #000000
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #d1e3de
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #615060
}

.navbar-default .nav li a {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: #252629;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:hover {
  border-radius: 5px;
  color: #252629;
  background-color: #425e6e;
}

.navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  color: #252629;
  background-color: #425e6e;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  border-radius: 5px;
  color: #252629;
  background-color: #425e6e;
}

@media (min-width: 768px) {

  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    border-color: transparent;
    padding: 0;
  }

}

header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color:#212226
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px
}

header .intro-text .intro-lead-in {
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px
}

header .intro-text .intro-heading {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 170px;
    padding-bottom: 200px
  }

  header .intro-text .intro-lead-in {
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px
  }

  header .intro-text .intro-heading {
    font-family:Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px
  }
}

section {
  padding: 10px 0
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
}

section h3.section-subheading {
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px
}

@media (min-width: 768px) {
  section {
    padding: 75px 0
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none
}


#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(254, 209, 54, .9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px
}

#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0
}

#portfolio * {
  z-index: 2
}


.timeline {
  list-style: none;
  padding: 0;
  position: relative
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table
}

.timeline > li:after {
  clear: both
}

.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left
}

.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}

.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}

.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #27313b;
  color: #e8e0d8;
  border-radius: 100%;
  border: 7px solid #e8e0d8;
  text-align: center
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto
}

.timeline > li:last-child {
  margin-bottom: 0
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}

.timeline .timeline-heading h4.subheading {
  text-transform: none
}

.timeline .timeline-body > p, .timeline .timeline-body > ul {
  margin-bottom: 0
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%
  }

  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px
  }

  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right
  }

  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px
  }

  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px
  }

  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px
  }

  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px
  }

  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px
  }

  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }

  .timeline > li .timeline-image h4 {
    margin-top: 40px
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px
  }
}

section#contact {
  background: #446175 no-repeat center;
}

section#contact .section-heading {
  color: #fff
}

section#contact .form-group {
  margin-bottom: 25px
}

section#contact .form-group input, section#contact .form-group textarea {
  padding: 20px
}

section#contact .form-group input.form-control {
  height: auto
}

section#contact .form-group textarea.form-control {
  height: 236px
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none
}

section#contact ::-webkit-input-placeholder {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #d68a85;
}

section#contact :-moz-placeholder {
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #d68a85;
}

section#contact ::-moz-placeholder {
  font-family:  Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color:#d68a85;
}

section#contact :-ms-input-placeholder {
  font-family:  Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #d68a85;
}

section#contact .text-danger {
  color: #e74c3c
}

footer {
  padding: 50px 0;
  text-align: center
}

footer span.copyright {
  line-height: 40px;
  font-family:  Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  text-transform: none
}

footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family:  Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  text-transform: none
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  display: block;
  background-color: #212226;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #e8e0d8;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #446175
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
  outline: 0
}

::-moz-selection {
  text-shadow: none;
  background: #fed136
}

::selection {
  text-shadow: none;
  background: #fed136
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}


.fromLeft  {
  visibility: hidden;
}
.fromRight {
  visibility: hidden;
}

#graphic{
  visibility: hidden;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.btn-graphic{
  color:#faf2e8;
  background-color: #5a81b0;
  border-color: #0e1721;
}

.btn.active{
  background-color: #3c6178;
}