
<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mi Historia</h2>
        <h3 class="section-subheading text-muted">Como empieza mi gran aventura en la programación...</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="images/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2005-2013</h4>
                <h4 class="subheading">Hace un largo largo tiempo...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">En el año 2005 empecé mi andadura con la informática matriculandome de la Ingeniería Ténica de Informática de Sistemas en la Universidad Complutense. Mientras tanto compaginaba mis estudios trabajando en un restaurante y después en una famosa tienda de zapatos </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="images/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Diciembre 2013</h4>
                <h4 class="subheading">Let's Code...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Y acabada mi etapa escolar, empecé mi andadura profesional en una empresa llamada <a href="http://ayscom.com">Ayscom</a>. Y desde ese momento supe que no me equivoqué, realmente me encanta lo que hago...</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="images/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Diciembre 2013- Marzo 2014</h4>
                <h4 class="subheading">Mi primer proyecto, Ruby hace las cosas magicamente...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Vaya!, resulta que los amigos de una compañia de telecomunícaciones necesitaban saber como es la calidad de señal que ofrecen a sus clientes, y que mejor que contratar a una empresa de telecomunicaciones para realizar esa labor.
                Como no, hicimos unas visualizaciones super chulas usando Ruby on Rails + jquery + d3 y así los jefes de esa compañía, de un vistazo, decidieran si preocuparse o celebrar!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="images/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Julio 2014 - Noviembre 2015</h4>
                <h4 class="subheading">Como aprendí, o casi, a vacunar...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
