
<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mi Historia</h2>
        <h3 class="section-subheading text-muted">Como empieza mi gran aventura en la programación...</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline ">
          <li>
            <div class="timeline-image fromLeft">
              <img class="img-circle img-responsive" src="images/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2005-2013</h4>
                <h4 class="subheading">Hace un largo largo tiempo...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">En el año 2005 empecé mi andadura con la informática matriculándome de la Ingeniería Ténica de Informática de Sistemas en la Universidad Complutense. Mientras tanto compaginaba mis estudios trabajando en un restaurante (6 años) y después en una famosa tienda de zapatos(6 años más) </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image fromRight">
              <img class="img-circle img-responsive" src="images/about/2_opt.gif" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Diciembre 2013</h4>
                <h4 class="subheading">Let's Code...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Y acabada mi etapa escolar, empecé mi andadura profesional en una empresa llamada <a href="http://ayscom.com">Ayscom</a>. Desde ese momento confirmé que realmente me iba a dedicar a algo que me apasiona. Me di cuenta que no iba a trabajar más en la vida, sino que iba a programar</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image fromLeft">
              <img class="img-circle img-responsive" src="images/about/ruby.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Diciembre 2013- Marzo 2014</h4>
                <h4 class="subheading">Mi primer proyecto, Ruby hace las cosas magicamente...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Vaya!, resulta que los amigos de una compañia de telecomunícaciones necesitaban saber como es la calidad de señal que ofrecen a sus clientes, y que mejor que contratar a una empresa de telecomunicaciones para realizar esa labor.
                Como no, hicimos unas visualizaciones super chulas usando Ruby on Rails + jquery + d3 y así los jefes de esa compañía, de un vistazo, decidieran si preocuparse o celebrar!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image fromRight">
              <img class="img-circle img-responsive" src="images/about/vacuna.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Julio 2014 - Noviembre 2014</h4>
                <h4 class="subheading">Como aprendí (o casi) a vacunar...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">En pleno verano nos llegó un proyecto nuevo, Una entidad pública quería impartir un curso de vacunación a distancia. Lo querían en flash(así es, petición suya!) encapsulado en un paquete scorm. Tres meses intensos en los que aprendí a sicronizar subtitulos, algo de ActionScript y mucho de enfermedades</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image fromLeft">
              <img class="img-circle img-responsive" src="images/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Diciembre 2014 - hasta ahora </h4>
                <h4 class="subheading">Las plantas nos hablan...</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">¿Un proyecto de agricultura? ¿De verdad?. Así es, estamos en pleno desarrollo de una aplicación que no solo facilitará, sino que mejorará la forma de cultivo de muchos tipos de plantas, no puedo desvelar el secreto del producto, pero estamos seguros que dentro de muy poco los que nos han contratado , tendrán mejores tomates, lechugas o unos vinos espectaculares y más tiempo para disfutar de ello</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted fromRight">
            <div class="timeline-image">
              <h4>Todo
                <br>lo mejor
                <br>está por llegar</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
