<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Wilder Olmos 2015</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/wilderolmos"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="https://github.com/redlim"><i class="fa fa-github"></i></a>
          </li>
          <li><a href="https://es.linkedin.com/in/wilderolmos"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>