<section>
  <div id="presentation">
    <h1>Wilder Olmos</h1>
   <h1>Desarrollador</h1>
  </div>
</section>
<section class="container">
<h1>¿Quién soy?</h1>
<p>Soy un ingeniero técnico en informática de sistemas al que le apasiona la programación
<p>Trabajo actualmente en <a href="http://www.ayscom.net/">Ayscom SL</a>, desarrollando cosas pro :</p>
<p>Al principio he usando Ruby on Rails para mostrar datos importantes con D3.js a la gente de una conocida compañía de telefonía móviles.</p>
<p>Después estuve unos meses implementando un curso de eLearning en formato scorm con contenidos en flash</p>
<p>Actualmente desarrollo Fullstack de un proyecto de agricultura formando parte de este desde el principio... vamos, que he estado en todas las
  discusiones con el cliente y estaré en ellas. Para implementar estamos usando el half hipster stack, es decir, MEAN pero la M es de Mysql</p>
<p>Y en mis tiempos libres me dedico a apuntarme a todos los meetups, a tragarme charlas en youtube y a cosas como el claqué o mirar pelis de pixar</p>
</section>
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
