<div nav-bar=""></div>
<div header=""></div>
<a href="#page-top" du-smooth-scroll du-scrollspy duration="1000"><i class="fa fa-angle-up fa-4x"></i></a>
<div about=""></div>
<a href="#about" du-smooth-scroll du-scrollspy duration="1000"><i class="fa fa-angle-up fa-4x"></i></a>
<div knowledge=""></div>
<a href="#knowledge" du-smooth-scroll du-scrollspy duration="1000"><i class="fa fa-angle-up fa-4x"></i></a>
<div contact=""></div>
<a href="#contact" du-smooth-scroll du-scrollspy duration="1000"><i class="fa fa-angle-up fa-4x"></i></a>
<div footer=""></div>