<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top " data-spy="affix" data-offset-top="100">
  <div class="container ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top" du-smooth-scroll du-scrollspy duration="1000">
        <img style="max-width:100px;" src="images/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li  class="hidden" ng-class="{active : navbarCtrl.isActive(1)}">
          <a href="#page-top" ng-click="navbarCtrl.setActive(1)"  du-smooth-scroll du-scrollspy duration="1000"></a>
        </li>
        <li ng-class="{'active' : navbarCtrl.isActive(2)}">
          <a class="page-scroll" ng-click="navbarCtrl.setActive(2)"  href="#about"  du-smooth-scroll du-scrollspy duration="1000">Quién soy</a>
        </li>
        <li ng-class="{'active' : navbarCtrl.isActive(3)}">
          <a href="#knowledge" ng-click="navbarCtrl.setActive(3)"   du-smooth-scroll du-scrollspy duration="1000">Conocimientos</a>
        </li>
        <li ng-class="{active : navbarCtrl.isActive(4)}">
          <a  href="#about" ng-click="navbarCtrl.setActive(4)"  du-smooth-scroll du-scrollspy duration="1000">Trabajos Personales</a>
        </li>
        <li ng-class="{active : navbarCtrl.isActive(5)}">
          <a  href="#contact" ng-click="navbarCtrl.setActive(4)" du-smooth-scroll du-scrollspy duration="1000">Contacto</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>